@import "tailwindcss";

/* 
 PALETA DE COLORES:
    Fondo principal: Gris muy oscuro (gray-950)
    Elementos de UI: Tonos de gris oscuro (gray-900, gray-800)
    Acentos: Gradiente índigo-púrpura para elementos importantes
    Textos: Claros sobre fondos oscuros para máxima legibilidad
    Estados: Verde para éxito, rojo para alertas, azul para información


EJEMPLO DE LAYERS
@layer components {
  .btn-personalizado {
    @apply bg-gray-300 text-black px-4 py-2 rounded-lg transition-colors;
  }
  
  .btn-personalizado:hover {
    @apply bg-gray-400;
  }
}*/

@layer components{
  .title{
    @apply text-violet-600
  }

  .title-font-a{
    font-size: 24px;
    font-weight: 600;
  }

  .button-hover-a{
    @apply hover:bg-gray-800 transition-colors
  }
  .secondary-background {
    @apply bg-gradient-to-r from-gray-900 to-gray-800;
  }
  
  .important-element {
    @apply bg-gradient-to-r from-indigo-600 to-purple-600 hover:from-indigo-700 hover:to-purple-700 rounded-lg transition-colors;
  }
  
  .ui-elements {
    @apply bg-gradient-to-r from-gray-800 to-gray-700 rounded-lg;
  }
  
  .alert-text {
    @apply text-red-500 bg-red-900/40 rounded-xl px-4 py-2;
  }
  
  .info-text {
    @apply text-blue-500 bg-blue-900/40 rounded-xl px-4 py-2;
  }
  
  .success-text {
    @apply bg-green-500/10 text-green-400 rounded-full text-sm font-medium;
  }

  .list-a-button{
    @apply w-full flex cursor-pointer rounded-lg text-left text-gray-400 p-3 hover:text-white hover:bg-gray-700 focus:text-white  focus:bg-gradient-to-r focus:from-indigo-600 focus:to-purple-600 transition-colors mt-1 font-semibold
  }
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(248, 248, 248, 0.87);
  background-color: #030712;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 40px;
  border-radius: 20px;
}